  <section class="section-video">
    <!-- <header>
      <h1 class="title">{{title}}</h1>

  <nav>
    <ul class="nav">
      <li><a href="#">Ewe</a></li>
      <li><a href="#" routerLinkActive="active">Francais</a></li>
      <li><a href="#">Kabye</a></li>
      <li><a href="#">Kotokoli</a></li>
    </ul>
  </nav>
    </header> -->
    <div class="player-container">
      <header>
        <h1 class="title">{{title}}</h1>
  
    <nav>
      <ul class="nav">
        <li><a href="#">Ewe</a></li>
        <li><a href="#" routerLinkActive="active">Francais</a></li>
        <li><a href="#">Kabye</a></li>
        <li><a href="#">Kotokoli</a></li>
      </ul>
    </nav>
      </header> 
      <div class="player">
        <iframe width="750" height="405"
                src="https://www.youtube.com/embed/Q2tNZAjWXec"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
      </div>
      <div class="playlist">
        <h2>Playlist</h2>
        <div class="video">
          <iframe class="iframe" width="320" height="205"
                  src="https://www.youtube.com/embed/Q2tNZAjWXec"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>

          <iframe class="iframe" width="320" height="205"
                  src="https://www.youtube.com/embed/Q2tNZAjWXec"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
        </div>
        <div class="video">
          <iframe class="iframe" width="320" height="205"
                  src="https://www.youtube.com/embed/Q2tNZAjWXec"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
          <iframe class="iframe" width="320" height="205"
                  src="https://www.youtube.com/embed/Q2tNZAjWXec"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
